#cloud-config
package_update: true
package_upgrade: true
package_reboot_if_required: true

packages:
  - apt-transport-https
  - ca-certificates
  - curl
  - gnupg-agent
  - software-properties-common
%{ for package in packages ~}
  - ${package}
%{ endfor ~}

# Enable ipv4 forwarding, required on CIS hardened machines
write_files:
  - path: /etc/sysctl.d/enabled_ipv4_forwarding.conf
    content: |
      net.ipv4.conf.all.forwarding=1

# create the docker group
groups:
  - docker

# Add default auto created user to docker group
system_info:
  default_user:
    groups: [docker]
    
users:
  - name: ${username}
    groups: ${groups}
    shell: /bin/bash
    sudo: ['ALL=(ALL) NOPASSWD:ALL']
    ssh-authorized-keys: 
%{ for key in ssh_keys ~}
      - ${key}
%{ endfor ~}

%{ if swap_size > 0 ~}
swap:
  filename: ${swap_file}
  size: ${swap_size}
%{ endif ~}

bootcmd:
%{ for volume in volumes ~}
  - mkdir ${volume.path}
  - chown ${username}:${username} ${volume.path}
%{ if ${volume.initialize} ~}
  - mkfs -t ${volume.fstype} ${volume.device}
%{ endif ~}
  - mount ${volume.device} ${volume.path}
%{ endfor ~}

mounts:
%{ for volume in volumes ~}
  - [ ${volume.device}, ${volume.path}, ${volume.fstype}, "defaults, nofail", "0", "2"]
%{ endfor ~}

runcmd:
  - sed -i -e '/^PermitRootLogin/s/^.*$/PermitRootLogin no/' /etc/ssh/sshd_config
  - sed -i -e '$aAllowUsers ${username}' /etc/ssh/sshd_config
  - service ssh restart
  - curl -fsSL https://download.docker.com/linux/ubuntu/gpg | sudo gpg --dearmor -o /usr/share/keyrings/docker-archive-keyring.gpg
  - echo "deb [arch=$(dpkg --print-architecture) signed-by=/usr/share/keyrings/docker-archive-keyring.gpg] https://download.docker.com/linux/ubuntu $(lsb_release -cs) stable" | sudo tee /etc/apt/sources.list.d/docker.list > /dev/null
  - apt update
  - apt install -y --force-yes --fix-missing docker-ce docker-ce-cli containerd.io
  - usermod -a -G docker ${username}
%{ if docker_compose ~}
  - curl -L "https://github.com/docker/compose/releases/download/${docker_compose_version}/docker-compose-$(uname -s)-$(uname -m)" -o /usr/local/bin/docker-compose
  - chmod +x /usr/local/bin/docker-compose
%{ endif ~}
