#cloud-config
# https://stackoverflow.com/questions/24418815/how-do-i-install-docker-using-cloud-init
apt:
  sources:
    docker.list:
      source: deb [arch=$(dpkg --print-architecture)] https://download.docker.com/linux/$(uname -s) $RELEASE stable
      keyid: 9DC858229FC7DD38854AE2D88D81803C0EBFCD88

package_update: true
package_upgrade: true
package_reboot_if_required: true

packages:
  - apt-transport-https
  - ca-certificates
  - containerd.io
  - curl
  - docker-ce
  - docker-ce-cli
  - gnupg-agent
  - software-properties-common
%{ for package in packages ~}
  - ${package}
%{ endfor ~}

# Enable ipv4 forwarding, required on CIS hardened machines
write_files:
  - path: /etc/sysctl.d/enabled_ipv4_forwarding.conf
    content: |
      net.ipv4.conf.all.forwarding=1

# create the docker group
groups:
  - docker

# Add default auto created user to docker group
system_info:
  default_user:
    groups: [docker]
    
users:
  - name: ${username}
    groups: ${groups}
    shell: /bin/bash
    sudo: ['ALL=(ALL) NOPASSWD:ALL']
    ssh-authorized-keys: 
%{ for key in ssh_keys ~}
      - ${key}
%{ endfor ~}

%{ if swap_size > 0 ~}
swap:
  filename: ${swap_file}
  size: ${swap_size}
%{ endif ~}

runcmd:
  - sed -i -e '/^PermitRootLogin/s/^.*$/PermitRootLogin no/' /etc/ssh/sshd_config
  - sed -i -e '$aAllowUsers ${username}' /etc/ssh/sshd_config
  - service ssh restart
  - usermod -G docker ${username}
%{ if docker-compose ~}
  - curl -L "https://github.com/docker/compose/releases/download/${docker-compose-version}/docker-compose-$(uname -s)-$(uname -m)" -o /usr/local/bin/docker-compose
  - chmod +x /usr/local/bin/docker-compose
%{ endif ~}